<div class="container">
  <div class="shadow-lg bg-white p-3 mt-5 pt-5">
    <div class="header">
      <span class="fs-2">All Users List</span>
      <button mat-raised-button color="primary" class="float-end" routerLink="create-employe">Add New User</button>
    </div>
    <hr>
    <table class="table ">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">last name</th>
          <th scope="col">Document</th>
          <th scope="col">salary</th>
          <th scope="col">Edit/Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Tayyab</th>
          <td>Siraj</td>
          <td>1212sq12</td>
          <td>786910</td>
          <td>
            <mat-icon aria-hidden="false" class="text-info">mode_edit</mat-icon>
            <mat-icon aria-hidden="false" class="text-danger">delete</mat-icon>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
