<div class="container">
  <div class="shadow-lg bg-white p-3 mt-5 pt-5">
    <div class="header pb-4">
      <span class="fs-2">All Users List</span>
      <button mat-raised-button color="primary" class="float-end" routerLink="create-employe">Add New User</button>
    </div>
    <hr>
    <table class="table table-striped" *ngIf="employees.length > 0">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">last name</th>
          <th scope="col">Document</th>
          <th scope="col">salary</th>
          <th scope="col">Edit/Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees">
          <th>{{ employee.name}}</th>
          <td>{{ employee.lastname}}</td>
          <td>{{ employee.document}}</td>
          <td>{{ employee.salary}}</td>
          <td>
            <mat-icon class="text-info" [routerLink]="['/edit-employee/', employee.id ]">mode_edit</mat-icon>
            <mat-icon class="text-danger" (click)="deleteEmoloye(employee.id)">delete</mat-icon>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
